/* font-family: 'Caveat', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Sacramento', cursive; */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 60%;
}

.flex {
  display: flex;
}
.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.jce {
  justify-content: space-evenly;
}

.aic {
  align-items: center;
}
.aifs {
  align-items: flex-start;
}
.aife {
  align-items: end;
}

.tac {
  text-align: center;
}

.shadow {
  box-shadow: 5px 5px 15px 10px rgb(0 0 0 / 15%);
}

.error {
  color: red;
  font-weight: bold;
}

#no-style-anchor {
  text-decoration: none;
  color: black;
}

#mgt {
  margin-top: 20px;
}
