#allViditFull {
  width: 95vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin: 0px 0px 0px 2.5vw;
}

#allViditContainer {
  width: 100%;
  max-width: 2250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.singleVidit {
  background-color: rgb(206, 206, 206);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 15px;
  max-width: 600px;
}

.pieChartImg {
  width: 25%;
  height: auto;
}

.barChartImg {
  margin-top: 20px;
  width: 200px;
  height: auto;
}

.lineChartImg {
  margin-top: 20px;
  width: 200px;
  height: auto;
}

.treeMapImg {
  width: 150px;
  height: auto;
}

.viditQuestion {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.viditVoteCount {
  font-family: 'Open Sans', sans-serif;
}

#SVCardMasterMaster {
  width: 300px;
  margin: 25px;
}

body {
  margin: 0px;
}

@media (min-width: 1440px) {
  #SVCardMasterMaster {
    width: 450px;
    margin: 25px;
  }
}

@media (min-width: 2000px) {
  #SVCardMasterMaster {
    width: 500px;
    margin: 25px 50px 25px 50px;
  }
}
