#singleBCViditFull {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#testChartBC {
  margin-left: 50px;
  margin-top: 25px;
  /* background-color: aquamarine; */
  height: 100vh;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(143, 122, 163, 0.034);
  border-radius: 25px;
}
#mainBarChart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainBarChartDiv {
  width: 400px;
  height: 400px;
}

#subBarCharts {
  height: 400px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  /* background-color: rgba(193, 241, 209, 0.322); */
  display: flex;
  justify-content: space-evenly;
}

#VBC {
  position: absolute;
  z-index: -1;
  height: 900px;
  width: auto;
  margin-top: 50px;
  opacity: 0;
}

.vHiddenBC {
  opacity: 0;
}

@keyframes flareBC {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.04;
  }
  100% {
    opacity: 0;
  }
}

.vFlareBC {
  animation-name: flareBC;
  animation-duration: 1.5s;
  /* animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45); */
  opacity: 0;
}

#filterControlsBC {
  margin: 75px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #filterA {
      position: absolute;
      margin-top: -929px;
      padding: 0px;
    } */

.filterStartBC {
  position: absolute;
  margin-top: -929px;
  padding: 0px;
}

@keyframes BCrideA {
  0% {
    margin-top: -929px;
    opacity: 0;
  }
  100% {
    margin-top: -200px;
    margin-left: -705px;
    opacity: 1;
  }
}

@keyframes BCrideB {
  0% {
    margin-top: -929px;
    opacity: 0;
  }
  100% {
    margin-top: -200px;
    margin-right: -705px;
    opacity: 1;
  }
}

.BCfilterRideA {
  position: absolute;
  animation-name: BCrideA;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45); */
}

.BCfilterRideB {
  position: absolute;
  animation-name: BCrideB;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45); */
}

#filterChoiceBC {
  padding: 5px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

#activateFilterBC {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgba(103, 185, 22, 0.63);
  padding: 15px;
  transition-duration: 0.5s;
}

#activateFilterBC:hover {
  background-color: rgb(104, 185, 22);
}

#resetFilterBC {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgba(238, 53, 53, 0.63);
  padding: 15px;
  transition-duration: 0.5s;
}

#resetFilterBC:hover {
  background-color: rgb(238, 53, 53);
}

.centerWord {
  font-family: 'Caveat', cursive;
}

.sliceWord {
  font-family: 'Montserrat', sans-serif;
}

/* .line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
  } */

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
