#singleBCViditFull {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}

#testChartBC {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 45px;
  height: 1275px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(97, 53, 138, 0.034);
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.407) 0px 8px 24px;
}

#barChartQuestionTitle {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-top: 32px;
}

#mainMainChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#mainBarChartDiv {
  width: 400px;
  height: 400px;
}

#subBarCharts {
  height: 400px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  display: flex;
  justify-content: space-evenly;
}

#VBC {
  position: absolute;
  z-index: -1;
  height: 705px;
  width: auto;
  margin-top: 325px;
  opacity: 0;
}

.vHiddenBC {
  opacity: 0;
}

@keyframes flareBC {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.04;
  }
  100% {
    opacity: 0;
  }
}

.vFlareBC {
  animation-name: flareBC;
  animation-duration: 1.5s;
  opacity: 0;
}

#filterControlsBC {
  margin: 36px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterStartBC {
  position: absolute;
  margin-top: -929px;
  padding: 0px;
}

@keyframes BCrideA {
  0% {
    margin-top: -760px;
    opacity: 0;
  }
  100% {
    margin-top: -40px;
    margin-left: -540px;
    opacity: 1;
  }
}

@keyframes BCrideB {
  0% {
    margin-top: -760px;
    opacity: 0;
  }
  100% {
    margin-top: -40px;
    margin-right: -540px;
    opacity: 1;
  }
}

.BCfilterRideA {
  position: absolute;
  animation-name: BCrideA;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.BCfilterRideB {
  position: absolute;
  animation-name: BCrideB;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#filterChoiceBC {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border: 2px solid #806d92;
  outline: none;
  cursor: pointer;
}

#activateFilterBC {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #8f7aa3;
  outline: none;
  padding: 15px;
  transition-duration: 0.25s;
}

#activateFilterBC:hover {
  transform: scale(1.05);
}

#resetFilterBC {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  transition-duration: 0.25s;
  border: 3px solid #c7bcd1;
  outline: none;
}

#resetFilterBC:hover {
  transform: scale(1.05);
}

.centerWord {
  font-family: 'Caveat', cursive;
}

.sliceWord {
  font-family: 'Montserrat', sans-serif;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

@media (max-width: 2555px) {
  #testChartBC {
    transform: scale(0.81);
    margin-top: -75px;
  }
}

@media (max-width: 1440px) {
  #testChartBC {
    transform: scale(0.65);
    margin-top: -185px;
  }
}

@media (max-width: 768px) {
  #testChartBC {
    transform: scale(0.5);
    margin-top: -265px;
  }
}

@media (max-width: 375px) {
  #testChartBC {
    transform: scale(0.3);
    margin-top: -380px;
  }
}
