#chartVotingFull {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  z-index: 1;
}

#chartVoting {
  position: absolute;
  margin-left: 50px;
  margin-top: 25px;
  height: 1150px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  border-radius: 25px;
  background-color: rgba(249, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.chartVotingFade {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#formDivVote {
  height: 400px;
  width: 600px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formVote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submitBtnVoteEnabled {
  margin: 25px 0px 0px 0px;
  border-radius: 15px;
  width: 100px;
  height: 36px !important;
  transition-duration: 0.2s;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #8f7aa3 !important;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  letter-spacing: 5px;
}

.submitBtnVoteHidden {
  visibility: hidden;
}

.submitBtnVoteEnabled:hover {
  transform: scale(1.1);
}

.submitBtnVoteDisabled {
  margin: 25px 0px 0px 0px;
  border-radius: 15px;
  width: 100px;
  height: 36px !important;
  border: 3px solid #8f7aa372 !important;
  transition-duration: 0.2s;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: not-allowed;
  letter-spacing: 5px;
}

#votequestion {
  margin: 15px;
  font-size: 25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.radioButtonVote {
  margin-top: 15px;
}

.radioLabelVote {
  margin-left: 10px;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.tyHidden {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 36px;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tyReveal {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 36px;
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#openNumberBox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#openNumberInput {
  border: none;
  border-radius: 15px;
  width: 50%;
  margin-right: 15px;
  padding: 5px;
}

#openNumberFull {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#minMaxOpenNumber {
  display: flex;
  justify-content: center;
}

#openNumberLabel {
  margin: 0px;
}

#openStringInput {
  border: none;
  border-radius: 15px;
  width: 50%;
  padding: 5px;
  margin-top: 36px;
}

#stringOpenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rangeFull {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rangeInput {
  border: none;
  border-radius: 15px;
  width: 30%;
  padding: 5px;
}

#rangeInputBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
