#chartVoting {
  position: absolute;
  margin-left: 50px;
  /* margin-top: 25px; */
  height: 100vh;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  border-radius: 25px;
  background-color: rgba(249, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.chartVotingFade {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#formDivVote {
  height: 400px;
  width: 400px;
  border-radius: 15px;
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formVote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submitBtnVote {
  margin: 0px;
  border-radius: 15px;
  width: 100px;
  height: 36px;
  background-image: linear-gradient(to bottom, #c69400 0%, #f9bb00 100%);
  transition-duration: 0.2s;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
  letter-spacing: 5px;
}

.submitBtnVoteHidden {
  visibility: hidden;
}

#submitBtnVote:hover {
  transform: scale(1.1);
}

#votequestion {
  margin: 15px;
  font-size: 25px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.radioButtonVote {
  margin-top: 15px;
}

.radioLabelVote {
  margin-left: 10px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
}

.tyHidden {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-top: 36px;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tyReveal {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-top: 36px;
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
