#chartVotingFull {
  width: 100vw;
  height: 90vh;
  min-height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

#chartVoting {
  margin-left: 0px;
  height: 1275px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.81);
  margin-top: -75px;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.chartVotingFade {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#formDivVote {
  height: 400px;
  width: 600px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(97, 53, 138, 0.034);
  box-shadow: rgba(149, 157, 165, 0.407) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formVote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submitBtnVoteEnabled {
  margin: 5opx 0px 0px 0px !important;
  border-radius: 15px;
  width: 100px;
  height: 36px !important;
  transition-duration: 0.2s;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #22ac37 !important;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  letter-spacing: 5px;
}

.submitBtnVoteHidden {
  visibility: hidden;
}

.submitBtnVoteEnabled:hover {
  transform: scale(1.1);
}

.submitBtnVoteDisabled {
  margin: 50px 0px 0px 0px !important;
  border-radius: 15px;
  width: 100px;
  height: 36px !important;
  border: 3px solid #8f7aa372 !important;
  transition-duration: 0.2s;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  /* cursor: not-allowed !important; */
  letter-spacing: 5px;
}

#votequestion {
  margin: 15px;
  font-size: 25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.radioButtonVote {
  margin-top: 15px;
}

.radioLabelVote {
  margin-left: 10px;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

.tyHidden {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 36px;
  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tyReveal {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 36px;
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#openNumberBox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#openNumberInput {
  border: none;
  border-radius: 15px;
  width: 50%;
  margin-right: 15px;
  padding: 5px;
}

#openNumberFull {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#minMaxOpenNumber {
  display: flex;
  justify-content: center;
}

#mui-slider {
  width: 80%;
}

#openNumberLabel {
  margin: 0px;
}

#openStringInput {
  border: none;
  border-radius: 15px;
  width: 50%;
  padding: 5px;
  margin-top: 36px;
}

#stringOpenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rangeFull {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rangeInput {
  border: none;
  border-radius: 15px;
  width: 30%;
  padding: 5px;
}

#rangeInputBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1920px) {
  #chartVoting {
    transform: scale(0.65);
    margin-top: -185px;
  }
  #chartVotingFull {
    min-height: 900px;
  }
}

@media (max-width: 1366px) {
  #chartVoting {
    transform: scale(0.5);
    margin-top: -290px;
  }
  #chartVotingFull {
    min-height: 700px;
  }
}

@media (max-width: 600px) {
  #chartVoting {
    transform: scale(0.4);
    margin-top: -355px;
  }
  #chartVotingFull {
    min-height: 575px;
  }
}

@media (max-width: 414px) {
  #chartVoting {
    transform: scale(0.3);
    margin-top: -425px;
  }
  #chartVotingFull {
    min-height: 475px;
  }
}
