#errortitle {
  margin: 25px;
}

#gif {
  margin: 25px;
}

#masterError {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
