#drawer {
  width: 250px;
}

#drawer-header {
  margin-top: 75px;
}

.hamburger {
  cursor: pointer;
  color: white;
}

.navBar {
  padding: 0 30px 0 30px;
  border-bottom: 6px solid #715c84;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #8f7aa3;
}

#nav {
  margin-left: 36px;
}
#logo {
  font-family: 'Sacramento', cursive;
  font-size: 36px;
  margin-left: 16px;
  color: white;
  margin-top: 16px;
  margin-bottom: 5px;
}

.navItem {
  font-family: 'Open Sans', sans-serif;
  margin-left: 15px;
  color: black;
}

.navItem:hover {
  transform: scale(1.1);
}

#no-style-anchor {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 60%;
}

.flex {
  display: flex;
}
.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.jce {
  justify-content: space-evenly;
}

.aic {
  align-items: center;
}
.aifs {
  align-items: flex-start;
}
.aife {
  align-items: end;
}

.tac {
  text-align: center;
}

#mgt {
  margin-top: 20px;
}
