#singleViditFull {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}

#testChart {
  margin-left: 0px;
  margin-right: 0px;
  height: 1275px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(97, 53, 138, 0.034);
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.407) 0px 8px 24px;
  transform: scale(0.81);
  margin-top: -75px;
}

#pieChartQuestionTitle {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 32px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

#mainChartPieChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.PCQTLarge {
  font-size: 40px;
}

.PCQTSmall {
  font-size: 25px;
}

#subCharts {
  height: 400px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  display: flex;
  justify-content: space-evenly;
}

#V {
  position: absolute;
  z-index: -1;
  height: 705px;
  width: auto;
  margin-top: 325px;
  opacity: 0;
}

.vHidden {
  opacity: 0;
}

@keyframes flare {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.04;
  }
  100% {
    opacity: 0;
  }
}

.vFlare {
  animation-name: flare;
  animation-duration: 1.5s;
  opacity: 0;
}

.filterCharts {
  height: 100%;
  width: 400px;
}

#filterControls {
  margin: 36px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterStart {
  position: absolute;
  margin-top: -929px;
  padding: 0px;
}

@keyframes rideA {
  0% {
    margin-top: -745px;
    opacity: 0;
  }
  100% {
    margin-top: -40px;
    margin-left: -540px;
    opacity: 1;
  }
}

@keyframes rideB {
  0% {
    margin-top: -745px;
    opacity: 0;
  }
  100% {
    margin-top: -40px;
    margin-right: -540px;
    opacity: 1;
  }
}

.filterRideA {
  position: absolute;
  animation-name: rideA;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.filterRideB {
  position: absolute;
  animation-name: rideB;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#filterChoice {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border: 2px solid #806d92;
  outline: none;
  cursor: pointer;
}

#activateFilter {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #8f7aa3;
  outline: none;
  padding: 15px;
  transition-duration: 0.25s;
}

#activateFilter:hover {
  transform: scale(1.05);
}

#resetFilter {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  transition-duration: 0.25s;
  border: 3px solid #c7bcd1;
  outline: none;
}

#resetFilter:hover {
  transform: scale(1.05);
}

.centerWord {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.sliceWord {
  font-family: 'Open Sans', sans-serif;
}

#mainChartSVG {
  height: 400px;
  width: 400px;
  margin-top: 25px;
}

.pcHeightWidth {
  height: 400px;
  width: 400px;
}

body {
  margin: 0px;
}

@media (max-width: 1920px) {
  #testChart {
    transform: scale(0.65);
    margin-top: -185px;
  }
}

@media (max-width: 1366px) {
  #testChart {
    transform: scale(0.5);
    margin-top: -290px;
  }
}

@media (max-width: 600px) {
  #testChart {
    transform: scale(0.4);
    margin-top: -355px;
  }
}

@media (max-width: 414px) {
  #testChart {
    transform: scale(0.3);
    margin-top: -425px;
  }
}
