#singleTMViditFull {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}

#testChartTM {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  height: 1150px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(97, 53, 138, 0.034);
  border-radius: 25px;
}
#mainTreeMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#mainTreeMapDiv {
  width: 400px;
  height: 400px;
}

#subTreeMaps {
  height: 400px;
  width: 1150px;
  min-width: 1150px;
  max-width: 1150px;
  display: flex;
  justify-content: space-evenly;
}

#VTM {
  position: absolute;
  z-index: -1;
  height: 700px;
  width: auto;
  margin-top: 220px;
  opacity: 0;
}

.vHiddenTM {
  opacity: 0;
}

@keyframes flareTM {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.04;
  }
  100% {
    opacity: 0;
  }
}

.vFlareTM {
  animation-name: flareTM;
  animation-duration: 1.5s;
  opacity: 0;
}

#filterControlsTM {
  margin: 75px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterStartTM {
  position: absolute;
  margin-top: -929px;
  padding: 0px;
}

@keyframes TMrideA {
  0% {
    margin-top: -752px;
    opacity: 0;
  }
  100% {
    margin-top: -55px;
    margin-left: -540px;
    opacity: 1;
  }
}

@keyframes TMrideB {
  0% {
    margin-top: -752px;
    opacity: 0;
  }
  100% {
    margin-top: -55px;
    margin-right: -540px;
    opacity: 1;
  }
}

.TMfilterRideA {
  position: absolute;
  animation-name: TMrideA;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.TMfilterRideB {
  position: absolute;
  animation-name: TMrideB;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#filterChoiceTM {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border: 2px solid #806d92;
  outline: none;
  cursor: pointer;
}

#activateFilterTM {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #8f7aa3;
  outline: none;
  padding: 15px;
  transition-duration: 0.25s;
}

#activateFilterTM:hover {
  transform: scale(1.05);
}

#resetFilterTM {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 15px;
  transition-duration: 0.25s;
  border: 3px solid #c7bcd1;
  outline: none;
}

#resetFilterTM:hover {
  transform: scale(1.05);
}

#subTMLabelA {
  position: absolute;
  margin-left: -525px;
  margin-top: -95px;
  font-family: 'Caveat', cursive;
  font-size: 24px;
}

@keyframes subTMLabelAReveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subTMLabelAVisible {
  animation-name: subTMLabelBReveal;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.subTMLabelAHidden {
  opacity: 0;
}

#subTMLabelB {
  position: absolute;
  margin-left: 525px;
  margin-top: -95px;
  font-family: 'Caveat', cursive;
  font-size: 24px;
}

@keyframes subTMLabelBReveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subTMLabelBVisible {
  animation-name: subTMLabelBReveal;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.subTMLabelBHidden {
  opacity: 0;
}

@media (max-width: 2555px) {
  #testChartTM {
    transform: scale(0.85);
    margin-top: -55px;
  }
}

@media (max-width: 1440px) {
  #testChartTM {
    transform: scale(0.65);
    margin-top: -185px;
  }
}

@media (max-width: 768px) {
  #testChartTM {
    transform: scale(0.5);
    margin-top: -265px;
  }
}

@media (max-width: 375px) {
  #testChartTM {
    transform: scale(0.3);
    margin-top: -380px;
  }
}
